<!DOCTYPE html>
<html>

<head>
  <%- include('template/header') %>
</head>

<body>
  <%- include('template/nav') %>
  <div class="container-wrapper">
    <div class="post__list">

      <% posts.forEach((post) => { 
        if (typeof(post.is_deleted) !== 'number') {
         %>
      <article class="post">
        <div class="post__header">
          <div class="post__title"><%= post.title %></div>
          <div class="post__actions"></div>
        </div>
        <div class="post__created_at"><%= post.createdAt.toString().split(' G')[0] %></div>

        <div class="post__content post__shorten"><%= post.content %>
        </div>
        <a class="btn-read-more" href="/post/<%= post.id %>">READ MORE</a>
      </article>
      <% }}) %>
    
    </div>
  </div>
  <footer>Copyright © 2020 Who's Blog All Rights Reserved.</footer>
</body>

</html>